body {
    background-color: white;
}

h1 {
    color: blue;
}

p {
    color:green;
}

.article_style {
	font-weight: bold;
	font-size: xx-large; 
	background-color:lightgrey;
}

.ad_style {
	font-weight: bold;
	font-size: xx-large; 
	background-color:orange;
}

product_name_style {
	font-weight: bold;
	font-size: xx-large; 
	background-color:mediumseagreen;
}

.omni_style {
	font-weight: bold;
	font-size: large; 
	background-color:white;
}

.begin_test_style {
	font-weight: bold;
	font-size: x-large; 
	color: white;
	background-color:black;
}

.comscore_style {
	font-weight: normal;
	font-size: medium; 
	color: white;
	background-color:hotpink;

}
.end_test_style {
	font-weight: bold;
	font-size: x-large; 
	color: white;
	background-color:lightgrey;
}

.boldstyle {
	font-weight: : bold;
}

.table90 {
	width: '80%';
}
.outsidetable {
	vertical-align: top;
}

.hovertable_header {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	border-width: 1px;
	border-color: wheat;
	border-collapse: collapse;
	font-weight: bold;
	vertical-align: top;
	width:40%;
}

.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	background-color:wheat;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	vertical-align: top;
	width:40%;
}

.hovertable_bad {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	background-color:red;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	vertical-align: top;
	width:40%;
}

.hovertable tr {
	background-color:wheat;
}
.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	vertical-align: top;
}
